@model IEnumerable<AspIdentitydemo.Models.showProducts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th>
            Category Name
        </th>
        <th>
            Brand Name
        </th>
        <th></th>
    </tr>

    @{ var count = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Products.Name
            </td>
            <td>
                @item.Products.Price
            </td>
            <td>
            
                @{
                    var a = "Images" + count;
                    var b = "imgdiv" + count;

                    var c = "cat" + count;
                    var d = "catdiv" + count;
                }
                <div id="@b"></div>

                <input type="text" value="@item.Products.ImagePath" id="@a" hidden />
            </td>
            <td>
                <div id="@d"></div>
             @*   @item.Products.Category_Id*@



                <input type="text" value="@item.Products.Category_Id" id="@c" hidden />

            </td>
            <td>
                @item.Brands.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Products.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Products.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Products.Id })
            </td>
        </tr>

        {
            count++;

        }
    }


</table>
    <input type="text" value="@count" id="count" hidden />


@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>




    $(document).ready(function () {

        var c = document.getElementById("count");

        for (var x = 0; x <= c.value; x++) {

            var xyz = "Images" + x;
            var i = document.getElementById(xyz).value;
           
            //console.log(x);
            //console.log(xyz);
            //console.log(i);
            var temp = new Array();
            temp = i.split(",");

            for (var j = 0; j < temp.length - 1; j++) {

                var url = temp[j];
                url = url.substring(1);
                url = window.location.origin + url;
                //console.log(url);

                var im = document.createElement("IMG");
                im.src = url
                im.style.width = 100;
                im.style.height = 100;
                document.getElementById("imgdiv" + x).appendChild(im);
            }


            var cat = "cat" + x;
            var cat_ids = document.getElementById(cat).value;

            var temp1 = new Array();
            temp1 = cat_ids.split(",");

           // console.log(temp1);
            for (var cj = 0; cj < temp1.length; cj++) {

                // console.log(temp1[cj]);
                get_cat(temp1[cj],x)


            }


        }
        function get_cat(ids,x){


             $.ajax({
            type: 'POST',
            url: '@Url.Action("getcat")',
            dataType: 'json',
            data: { id: ids },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    console.log(item);

                    var xy = document.createElement("SPAN");
                    var t = document.createTextNode(" "+item+" ");
                    xy.appendChild(t);
                    xy.className = "well-sm";
                    console.log(i);
                    
                   $("#catdiv" + x).append(xy);
                                       
                    
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });

        }


    });

    </script>

    }